<h1>Login</h1>
<%= form_for :session, :html=>{url: login_path} do |u| %>

  <div >
    <%= u.label :email %></label><br/>
    <%= u.email_field :email%>
  </div>

  <div style="margin-top: 20px;">
    <%= u.label :password %></label><br/>
    <%= u.password_field :password, autocomplete: "off" %>
  </div>

  <div style="margin-top: 10px;">
    <%= u.submit "sign in"%>
  </div>
<% end %>

<div style="margin-top: 30px;">
  <%= link_to 'back to list of books', books_path%>
</div>
