<h1>List the books</h1>
<br/>
<p>
  <%if logged_in? %>
    <%= link_to 'Create new book', new_book_path %> <br/><br/>
  <%end%>
</p>

<div style=" width: 75%;">
  <table>
    <tr>
      <th><%= sortable  'id', 'Order'%></th>
      <th><%= sortable  'title'%></th>
      <th><%= sortable  'author'%></th>
      <th>Created by</th>
      <th><%= sortable 'created_at', 'Created at' %></th>
      <th>Rate</th>
    </tr>

     <tr>
       <td> </td>
       <td>
         <%= form_tag books_path, method: "get" do %>
            <div style="float: left;"> <%= text_field_tag :filter %></div>            
            <div style="float: left; padding-left:10px; text-color:Cyan "><%= submit_tag 'filter'%> </div>
         <% end %>
        </td>
       <td> </td>
       <td> </td>
       <td> </td>
       <td> </td>

     </tr>

  <%@books.each do |b|%>
     <tr>
       <td> <%= b.id %></td>
       <td> <%= b.title %></td>
       <td> <%= b.author%></td>
       <td> <%= b.user.username if b.user%></td>
       <td> <%= b.created_at%></td>
       <td> <%= b.rate%></td>

       <td> <%= link_to 'Display', book_path(b)%>
       <%if logged_in? %>
         |<%= link_to 'Add a rewview', new_book_review_path(b)%>
       <%end%>
       </td>
       <%if logged_in? && current_user == b.user %>
         <td> <%= link_to 'Edit', edit_book_path(b) %></td>
         <td> <%= link_to 'Delete' , book_path(b), method: :delete, data: {confirm: 'Are you suire you want to delete this book?'} %> </td>
       <%end%>
     </tr>
  <%end%>
  </table>
</div>
