<h1>List the books</h1>
<br/>
<br/>
<input type="text" data-behavior="room_speaker">
<br/>
<div id="messages">
<br/>
<p>
  <%if logged_in? %>
    <%= link_to 'Create new book', new_book_path %> <br/><br/>
  <%end%>
</p>

<div style=" width: 75%;">
  <table>
    <tr>
      <th><%= sortable  'id', 'Order'%></th>
      <th><%= sortable  'title'%></th>
      <th><%= sortable  'author'%></th>
      <th>Created by</th>
      <th><%= sortable 'created_at', 'Created at' %></th>
      <th>Rate</th>
    </tr>

     <tr>
       <td> </td>
       <td>
         <%= form_tag books_path, method: "get" do %>
            <div style="float: left;"> <%= text_field_tag :filter %></div>
            <div style="float: left; padding-left:10px; text-color:Cyan "><%= submit_tag 'filter'%> </div>
         <% end %>
        </td>
       <td> </td>
       <td> </td>
       <td> </td>
       <td> </td>

     </tr>

  <%@books.each do |book|%>    
    
     <%= render :partial =>'index-partial', locals: {:b => book}  %>     

  <%end%>
  </table>
</div>
