<h1>List the books</h1>

<p>
  <%= link_to 'Create new book', new_book_path %>
</p>


  <table>
    <tr>
      <th>Title</th>
      <th>Author</th>
    </tr>
  <%Book.all.each do |b|%>
     <tr>
       <td> <%= b.title %></td>
       <td> <%= b.author%></td>
       <td> <%= link_to 'Edit', edit_book_path(b) %></td>
       <td> <%= link_to 'Display', book_path(b)%></td>
       <td> <%= link_to 'Delete' , book_path(b), method: :delete, data: {confirm: 'Are you suire you want to delete this book?'} %> </td>
     </tr>
  <%end%>
  </table>
