<h1> Show selected book</h1>
<br/>
<div style=" width: 30%; float:left">
  <h2>Book information</h2>
<table>
  <tr>
    <td>  Title:   </td>
    <td style="font-weight: bold;" id="title">  <%= @book.title%>  </td> <td></td>
  </tr>
  <tr>
    <td>  Author:   </td>
    <td style="font-weight: bold;" id="author">  <%= @book.author%>  </td>
  </tr>
  <tr>
    <td>  Rate:   </td>
    <td style="font-weight: bold;" id="rate">  <%= @book.rate%>  </td>
  </tr>
  <tr>
    <td> created by:    </td>
    <td> <%= @book.user.username if @book.user%>   </td>
  </tr>
  <tr>
    <td> created at:  </td>
    <td>   <%= @book.created_at%>   </td>
  </tr>
  <tr>
    <td> modified at:  </td>
    <td>   <%= @book. updated_at%>   </td>
  </tr>
</table>

<p>
    <%if logged_in? %>
      <%= link_to 'Add e rewview', new_book_review_path(@book)%> |
    <%end%>
    <%if logged_in? && (current_user == @book.user ||  is_Admin_user?)%>
      <%= link_to 'Edit this book', edit_book_path(@book)%> |
    <%end%>
<%= link_to 'Back to list of books', books_path%>
</p>

</div>

<div style=" width: 65%; float:right">
<h2>Reviews</h2>
<table>
  <tr>
    <th><%= sortable 'rate' %></th>
    <th>By user</th>
    <th><%= sortable 'created_at', 'Created at' %></th>
    <th>review</th>
  </tr>
  <% @book.reviews.each do |r| %>
  <tr>
    <td style="width: 5%; text-align:center;"><%=r.rate%> </td>
    <td ><%=r.user.username if r.user%> </td>
    <td ><%=r.created_at.to_date%> </td>
    <td style="width: 60%;"><%= r.review %></td>
      <%if logged_in? && (current_user == r.user || is_Admin_user?) %>
        <td><%= link_to 'Edit', edit_book_review_path(r.book, r)  %></td>
        <td><%= link_to 'Delete', book_review_path(r.book, r),  method: :delete, data: {confirm: 'Are you suire you want to delete this book?'} %></td>
      <%else%>
      <td></td>
      <td></td>
     <%end%>

  </tr>
  <%end%>
</table>
</div>
