<!DOCTYPE html>
<html>
  <head>
    <title>BookReview</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div style="padding:25px">

      <div style="font-size:100%; font-weight: bold;" align="left">
        <%if logged_in? %>
          <%= link_to "logout", logout_path, method: :delete %>
        <% else %>
          <%=  link_to "log in", login_path %> |
          <%=  link_to "sign up", signup_path %>
        <%end%>
      </div>
      
      <br/>
      <br/>

      <%= render 'layouts/messages'%>
      <%= yield %>
   </div>

   <div style="height:30%; position:absolute; bottom:0px;">
      <br/><br/><br/><br/><br/><br/>
      <%= debug(params) if Rails.env.development? %>
  </div>

  </body>
</html>
